<h2 class="section-title">{{ .titles.contact }}</h2>

<ul class="contact-list">
    {{ range $contact_text := .contact }}
    <p>
      {{ .text }}
    </p>
    {{ end }}

<!--Start Mailblast Signup Form-->
  <link rel="stylesheet" media="screen" href="https://cdn.mailblast.io/stylesheets/mb-embed-1-2.css">

  <!-- You can customize the default success message here -->
  <p class="mb-message mb-success-message" default-message="Thank you for subscribing!"></p>
  <p class="mb-message mb-error-message"></p>

  <form method="post" action="https://mailblast.io/lists/67b9711c-cef5-44ff-a206-7de050cbbe16/subscribers/create_external" class="form" novalidate="novalidate">
    <div class="contact-tbl">
    <table>
      <tr>
        <th>
          Email Address (required):
        </th>
        <td colspan=2>
          <input type="email" name="subscriber[email]" class="mb-email" required="" aria-required="true">
        </td>
      </tr>

      <tr>
        <th>
          First Name:
        </th>
        <td colspan=2>
          <input type="text" name="subscriber[first_name]" class="mb-name mb-first-name">
        </td>
      </tr>

      <tr>
        <th>
          Last Name:
        </th>
        <td colspan=2>
          <input type="text" name="subscriber[last_name]" class="mb-name mb-last-name">
        </td>
      </tr>

      <tr>
        <td colspan=2>
          <input type="text" name="mb_67b9711ccef544ffa2067de050cbbe16" tabindex="-1" value="">
        </td>
        <td>
          <button type="submit" class="btn btn-send">Subscribe</button>
        </td>
      </tr>
    </table>
    </div>
  </form>
  <script src="https://cdn.mailblast.io/javascripts/mb-embed-1-2.js"></script>
</ul>
<!--End Mailblast Signup Form-->
