<h2 class="section-title">{{ .titles.register }}</h2>

<ul class="register-list">
  {{ range $registertext := .register }}
  <p>
    {{ .text }}
  </p>
  {{ end }}
</ul>
<ul class="registration-list">
  {{ range $registerform := .registerform }}
  <li class="registration-item">
    <span class="registration-photo">
      <img class="photo" src="{{ .image }}" alt="{{ .name }}" itemprop="image">
    </span>
    <h4>{{ .name }} - ${{ .price }}</h4>
    {{ range $text := .items }}
      <p class="registration-text"><i class="fa fa-hand-peace-o fa-lg" aria-hidden="true"></i> {{ .text }}</p>
    {{ end }} 
    <br>
    <button 
      class="btn register-button snipcart-add-item"
      data-item-shippable="false"
      data-item-has-taxes-included="true"
      data-item-id="{{ .id }}"
      data-item-name="{{ .name }}"
      data-item-price="{{ .price }}"
      data-item-description="{{ .description }}"
      data-item-url="/">
      {{ .name }} ${{ .price }}
    </button>
  </li>
  {{ end }}
</ul>
<a href="#" class="btn button snipcart-checkout">Go to Checkout</a>
 