<h2 class="section-title">{{ .titles.register }}</h2>

<ul class="register-list">
    {{ range $registertext := .register }}
    <p>
      {{ .text }}
    </p>
    {{ end }}
    <form name="Register" id="form" class="form" data-netlify="true">
      <div class="registration-tbl">
        <table> 

          {{ range $registerform := .registerform }}

          <tr>
            <th>
              {{ .displaytext }}:
            </th>
            <td colspan=2>
                {{ if ne .hidden nil }}
                <input colspan="2" type="{{ .type }}" name="{{ .name }}" placeholder="{{ .defaulttext }}" hidden="{{ .hidden }}" id="{{ .id}}">
                {{ else }}
                <input colspan="2" type="{{ .type }}" name="{{ .name }}" placeholder="{{ .defaulttext }}" id="{{ .id}}">
                {{ end }}
            </td>
          </tr>

          {{ end }}

          </table>

          <input class="field" id="street_number" disabled="true" type="hidden"></input>
          <input class="field" id="route" disabled="true" type="hidden"></input>
          <!-- Note: Selection of address components in this example is typical.
               You may need to adjust it for the locations relevant to your app. See
               https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform
          -->
          <input class="field" id="locality" disabled="true" type="hidden"></input>
          <input class="field" id="administrative_area_level_1" disabled="true" type="hidden"></input>
          <input class="field" id="postal_code" disabled="true" type="hidden"></input>
          <input class="field" id="country" disabled="true" type="hidden"></input>
      </div>

    <input class="btn btn-send" type="submit" value="Send">
    <input class="btn btn-reset" type="reset" value="Reset">
    </form>
</ul>
