<h2 class="section-title">{{ .titles.schedule }}</h2>

<div class="schedule-tbl">
    <table>
      {{ range $slot := .schedule }}
      <thead>
      <th class="schedule-date" colspan=3>{{ .date }}</th>
      </thead>
      <thead>
        <tr>
          <th class="schedule-time">Time</th>
          <th class="schedule-slot">Event</th>
          <th class="schedule-description">Description</th>
        </tr>
      </thead>
      <tbody>
        {{ range $event := .events }}
          {{ if ne .presentation nil }}
            <tr>
              <td class="schedule-time">{{ .presentation.time }}</td>
              <td class="schedule-slot">
              {{ with .photo }}
                <span class="speaker-photo">
                  <img class="photo" src="{{ . }}" alt="{{ $event.name }}">
                </span>
              {{ end }}
              {{ .presentation.title }}
              {{ with .company}}
              <span class="speakers-company">{{ . }}</span>
              {{ end}}
              </td>
              <td class="schedule-description">{{ .presentation.description }}</td>
            </tr>
          {{ else }}
            <tr class="schedule-other">
              <td class="schedule-time">{{ .time }}</td>
              <td class="schedule-slot">{{ .name }}</td>
              <td class="schedule-description">{{ if .anchor }}<a href="#{{.anchor}}">See below for description.</a>
              {{ else }}
              {{ .description }}
              {{ end }}
              </td>
            </tr>
          {{ end }}
        {{ end }}
      </tbody>
    {{ end }}
    </table>
</div>
