<h2 class="section-title">{{ .titles.sponsors }}</h2>
<ul class="sponsors-tbl">
{{ range $sponsor := .sponsors }}
  <h3 class="section-title">{{ .level }}</h3>
  <table>
    <tr>
      {{ range $i, $e := .sponsors }}
        {{ if (and (modBool $i 3) (gt $i 0))}}
          </tr><tr>
        {{ end }}
        <td>
        {{ if $e.logo }}
        {{ with $e.url }}<a href="{{ . }}" target="_blank" class="sponsors-link" itemprop="url"> {{end}}
          <img src="{{ .logo }}" alt="{{ .name }}" class="sponsors-photo" itemprop="image">{{ with $e.url }}</a>{{end}}<br>{{ with $e.url }}<a href="{{ . }}" target="_blank" itemprop="url">{{end}}{{- .name -}}{{ with $e.url }}</a>{{end}}
        {{ else if $e.url }}
          <a href="{{ .url }}" target="_blank" class="sponsors-link" itemprop="url">{{- .name -}}</a>
        {{ else }}
          <p>{{ $e.name }}</p>
        {{ end }}
        </td>
      {{ end }}
    </tr>
  </table>
{{ end }}
</ul>
